<ion-view view-title="О приложении">
  <ion-content>
    <div id="content">
        <div class="about"><h3>Owl Book version 1.0.1 (Beta)</h3></div>
    	<div class="about"><b>Автор проекта:</b> Симонова Мария</div>
    	<div class="about"><b>Программист:</b> Сушко Павел (aka PasWD)</div>
    	<div class="about"><b>Аналитик:</b> Калашникова Екатерина</div>
    	<div class="about">Powered by Ionic Framework (AngularJS, Apache Cordova)</div>
    	<div>Приложение Owl Book доступно по лицензии Creative Commons «Attribution-NonCommercial-ShareAlike» («Атрибуция — Некоммерческое использование — На тех же условиях») 4.0 Всемирная.<br>
    	<!--<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Ссылка на копию лицензии</a></div>-->
    </div>
  </ion-content>
</ion-view>
