<ion-view view-title="Алгебра логики">
  <ion-content overflow-scroll="true" class="selectable">
  	<div class="book">
<p>Логика очень древняя наука. Ещё в античные времена была известна <I>формальная логика</I>, позволяющая делать заключения о правильности какого-либо суждения не по его фактическому содержанию, а только по форме его построения. Например, уже в древности был известен <B>закон исключения третьего</B>. Его содержательная трактовка была такова: «Во время своих странствований Платон <B><I>был</I></B> в Египте <B>ИЛИ </B><b><I>не был</I></B> Платон в Египте». В такой форме это или любое другое выражение будут правильны (тогда говорили: <I>истинно</I>). Ничего другого быть не может: Платон либо был, либо не был в Египте - третьего не дано.</p>
<p>Другой закон логики -<B> закон непротиворечивости</b>. Если  сказать: «Во время своих странствий Платон <i><b>был</i></b> в Египте<b> И</b><i><b> не был</i></b> Платон в Египте», то очевидно, любое высказывание, имеющее такую форму, всегда будет <I>ложно</I>.  Если из теории следуют два противоречащих друг другу вывода, то такая теория безусловно неправильная (ложная) и должна быть отвергнута.</p>
<p>Ещё один закон, известный в древности - <b>закон отрицания:</b> «Если <b>НЕ</b> верно, что Платон <b>НЕ <i>был</i></b> в Египте, то значит, Платон <b><i>был</i></b> в Египте».
<br>Формальная логика основана на “высказываниях”. “Высказывание” - это основной элемент логики, определяемый как повествовательное предложение, относительно которого можно однозначно сказать, истинное или ложное утверждение оно содержит.

<br><i>Например</i>: Листва на деревьях опадает осенью. Земля прямоугольная.
<br>Первое высказывание содержит истинную информацию, а второе - ложную. Вопросительное, побудительное и восклицательное предложения не являются высказываниями, так как в них ничего не утверждается и не отрицается.
<br><i>Пример предложений, не являющихся высказываниями:</i> Не пейте сырую воду!  Кто не хочет быть счастливым?
<br>Высказывания могут быть и такими: 2>1, Н<font size=-1>2</font>О+SO<font size=-1>3</font>=H<font size=-1>2</font>SO<font size=-1>4</font>. Здесь используются языки математических символов и химических формул.
	<br>Приведённые выше примеры высказываний являются <i>простыми.</I> Но из простых высказываний можно получить <i>сложные</i>, объединив их с помощью логических связок. Логические связки - это слова, которые подразумевают определённые логические связи между высказываниями. Основные логические связки издавна употребляются не только в научном языке, но и в обыденном, - это “и”, “или”, “не”, “если ... то”, “либо ... либо” и другие известные нам из русского языка связки. В рассмотренных нами трёх законах формальной логики  использовались связки “и”, “или”, “не”, “если ... то” для связи простых высказываний в сложные.</p>
<p>Высказывания бывают <i>общими, частными</i> и<i> единичными.</i> Общее высказывание начинается со слов:<i><b> всё, все, всякий, каждый, ни один.</i></b> Частное высказывание начинается со слов: <i><b>некоторые, большинство</i></B> и т.п. Во всех других случаях высказывание является единичным.
<br>Формальная логика была известна в средневековой Европе, она развивалась и обогащалась новыми законами и правилами, но при этом вплоть до 19 века она оставалась обобщением конкретных содержательных данных и её законы сохраняли форму высказываний на разговорном языке.</p>

<p>В 1847 году английский математик Джордж Буль, преподаватель провинциального университета в маленьком городке Корке на юге Англии разработал <i><b>алгебру логики</i></b>.
<br>Алгебра логики очень проста, так как каждая переменная может принимать только два значения: истинно или ложно. Трудность изучения алгебры логики возникает из-за того, что для обозначения  переменных принимают символы 0 и 1, которые по написанию совпадают с обычными арифметическими единицей и нулём. Но совпадение это только внешнее, так как смысл они имеют совсем иной.
<br>Логическая 1 означает, что какое-то событие истинно, в противоположность этому логический 0 означает, что высказывание не соответствует истине, т.е. ложно. Высказывание заменилось на логическое выражение, которое строится из логических переменных (А, В, Х, …) и логических операций (связок).
<br>В алгебре логики знаки операций обозначают лишь три логические связки <b>ИЛИ, И, НЕ.</B></p>
<p><b>1. Логическая операция ИЛИ</b>. Логическую функцию принято задавать в виде таблицы. В левой части этой таблицы перечисляются все возможные значения <i>аргументов функции</I>, т.е. <i>входные величины</i>, а в правой указывается соответствующее им <i>значение логической функции</i>. Для элементарных функций получается <i>таблица истинности</I> данной логической операции. Для операции <b>ИЛИ</b> таблица истинности имеет вид:</p>
<table>
	<tr>
		<td>A</td>
		<td>B</td>
		<td>A ∨ B</td>
	</tr>
	<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>0</td>
		<td>1</td>
		<td>1</td>
	</tr>
	<tr>
		<td>1</td>
		<td>0</td>
		<td>1</td>
	</tr>
	<tr>
		<td>1</td>
		<td>1</td>
		<td>1</td>
	</tr>
</table>
<p>Операцию <b>ИЛИ</b> называют также <b><i>логическим сложением</b></i>, которую также можно обозначать знаком «|». 
<br>Рассмотрим сложное единичное высказывание: «Летом я поеду в деревню или в туристическую поездку». Обозначим через <b>А</b> простое высказывание «Летом я поеду в деревню», а через<b> В </b>- простое высказывание «Летом я поеду в туристическую поездку». Тогда логическое выражение сложного высказывания имеет вид <b>А | В</b>, и оно будет ложным только, если ни одно из простых высказываний не будет истинным.</p>
<p><b>2. Логическая операция И</b>. Таблица истинности для этой функции имеет вид:</p>
<table>
	<tr>
		<td>A</td>
		<td>B</td>
		<td>A & B</td>
	</tr>
	<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>0</td>
		<td>1</td>
		<td>0</td>
	</tr>
	<tr>
		<td>1</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>1</td>
		<td>1</td>
		<td>1</td>
	</tr>
</table>
<p>Из таблицы истинности следует, что операция <b>И</b> - это <b><i>логическое умножение</b></i>, которое ничем не отличается от традиционно известного умножения в обычной алгебре. Операцию <b>И</b> можно обозначить знаком по-разному:</p>
<div class="formula">
	Y = A & B<br>
	Y = A ∧ B
</div>
<p>В формальной логике операции логического умножения соответствуют связки <b><i>и, а, но, хотя.</b></i></p>

<p><b>3. Логическая операция НЕ</b>. Эта операция является специфичной для алгебры логики и не имеет аналога в обычной алгебре. Она обозначается чертой над значением переменной, либо знаком приставки перед значением переменной:</p>
<div class="formula">
	<span class="overlined">A</span> или ¬A
</div>
<p>Читается в обоих случаях одинаково «Не А». Таблица истинности для этой функции имеет вид:</p>
<table>
	<tr>
		<td>A</td>
		<td>¬A</td>
	</tr>
	<tr>
		<td>0</td>
		<td>1</td>
	</tr>
	<tr>
		<td>1</td>
		<td>0</td>
	</tr>
</table>
<p>В вычислительной технике операцию <b>НЕ</b> называют <i><b>отрицанием или инверсией</i></b>, операцию <b>ИЛИ</b> - <i><b>дизъюнкцией</i></b>, операцию <b>И</B> - <I><b>конъюнкцией</b></I>. Набор логических функций “И”, “ИЛИ”, “НЕ” является функционально полным набором или базисом алгебры логики. С помощью него можно выразить любые другие логические функции, например операции “строгой дизъюнкции”, “импликации” и “эквивалентности” и др. Рассмотрим некоторые из них.</p>
<p><b>4. Логическая операция “строгая дизъюнкция”</b>. Этой логической операции соответствует логическая связка “либо ... либо” и обозначается знаком «+». Таблица истинности для этой функции имеет вид:</p>
<table>
	<tr>
		<td>A</td>
		<td>B</td>
		<td>A + B</td>
	</tr>
	<tr>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>0</td>
		<td>1</td>
		<td>1</td>
	</tr>
	<tr>
		<td>1</td>
		<td>0</td>
		<td>1</td>
	</tr>
	<tr>
		<td>1</td>
		<td>1</td>
		<td>0</td>
	</tr>
</table>
<p>Операция “строгая дизъюнкция” выражается через логические функции “И”, “ИЛИ”, “НЕ” любой из двух логических формул:</p>
<div class="formula">
	A + B = A & <span class="overlined">B</span> | <span class="overlined">A</span> & B<br>
	A + B = (A | B) & (<span class="overlined">A</span> | <span class="overlined">B</span>)
</div>
<p>и иначе называется операцией неравнозначности или  “сложения по модулю 2”, так как при сложении чётного количества единиц, результатом будет “0”, а при сложении нечётного числа единиц, результат станет равен “1”.</p>

<p><b>5. Логическая операция “импликация”</b>.  Выражение, начинающееся со слов <b><I>если, когда, коль</i></b> скоро и продолжающееся словами <b><i>то, тогда,</B></i> называется условным высказыванием или операцией «импликация». Таблица истинности для этой функции имеет вид:</p>
<table>
	<tr>
		<td>A</td>
		<td>B</td>
		<td>A → B</td>
	</tr>
	<tr>
		<td>0</td>
		<td>0</td>
		<td>1</td>
	</tr>
	<tr>
		<td>0</td>
		<td>1</td>
		<td>1</td>
	</tr>
	<tr>
		<td>1</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>1</td>
		<td>1</td>
		<td>1</td>
	</tr>
</table>
<p>Операцию “импликация” можно обозначить по-разному:</p>
<div class="formula">
	Y = A → B<br>
	Y = A ⊃ B
</div>
<p>Эти выражения эквивалентны и читаются одинаково: «Игрек равен импликации  от А и В». Операция “импликация” выражается через логические функции “ИЛИ”, “НЕ” в виде логической формулы:</p>
<div class="formula">
	A → B = <span class="overlined">A</span> | B<br>
	<span class="overlined">A → B</span> = A & <span class="overlined">B</span>
</div>
<p><b>6. Логическая операция “эквивалентность” (равнозначность)</b>. Этой логической операции соответствуют логические связки “если и только если”, «тогда и только тогда, когда». Таблица истинности для этой функции имеет вид:</p>
<table>
	<tr>
		<td>A</td>
		<td>B</td>
		<td>A ~ B</td>
	</tr>
	<tr>
		<td>0</td>
		<td>0</td>
		<td>1</td>
	</tr>
	<tr>
		<td>0</td>
		<td>1</td>
		<td>0</td>
	</tr>
	<tr>
		<td>1</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>1</td>
		<td>1</td>
		<td>1</td>
	</tr>
</table>
<p>Операция “эквивалентность” обозначается по-разному. Выражения</p>
<div class="formula">
	A ~ B<br>
	A ↔ B<br>
	A ≡ B
</div>
<p>обозначают одно и тоже, и можно сказать, что А эквивалентна В, если и только если они равнозначны. Логическая операция “эквивалентность” выражается через логические функции “И”, “ИЛИ”, “НЕ” в виде логической формулы</p>
<div class="formula">
	A ~ B = A & B | <span class="overlined">A</span> & <span class="overlined">B</span><br>
	A ~ B = (A | <span class="overlined">B</span>) & (<span class="overlined">A</span> | B)
</div>
<p>С помощью алгебры логики можно очень кратко записать законы формальной логики и дать им математически строгое доказательство.</p>
<ol class="formula">
	<li>1. Закон исключения третьего: A | <span class="overlined">A</span> = 1</li>
	<li>2. Закон непротиворечивости: A & <span class="overlined">A</span> = 0</li>
	<li>3. Закон отрицания: ¬(<span class="overlined">A</span>) = A</li>
</ol>
<p>В алгебре логики, как в элементарной, справедливы <b><i>переместительный</b> (закон коммутативности), <b>сочетательный </b>(закон ассоциативности) и <b>распределительный</b> (закон дистрибутивности) </i>законы, а также аксиома <i><b>идемпотентности</b> (отсутствие степеней и коэффициэнтов)</i> и др., в записях которых используются логические переменные, принимающие только два значения - логический ноль и логическая единица. Применение этих законов позволяет производить упрощение логических функций, т.е. находить для них выражения, имеющие наиболее простую форму. Основные аксиомы и  законы алгебры логики приведены в таблице:</p>
<table style="font-size:11px;">
	<tr>
		<td>Аксиомы</td>
		<td>
			1 | A = 1<br>
			0 & A = 0<br>
			1 & A = A<br>
			0 | A = A<br>
			A | A = A<br>
			A & A = A
		</td>
	</tr>
	<tr>
		<td>
			Закон исключения<br>третьего:<br>
			Закон<br>непротиворечивости:<br>
			Закон отрицания:
		</td>
		<td>
			<br>
			A | <span class="overlined">A</span> = 1<br><br>
			A & <span class="overlined">A</span> = 0<br>
			¬(<span class="overlined">A</span>) = A
		</td>
	</tr>
	<tr>
		<td>Законы<br>коммутативности:</td>
		<td>
			A | B = B | A<br>
			A & B = B & A
		</td>
	</tr>
	<tr>
		<td>Законы<br>ассоциативности:</td>
		<td>
			(A | B) | C = A | (B | C)<br>
			(A & B) & C = A & (B & C)
		</td>
	</tr>
	<tr>
		<td>Законы<br>дистрибутивности:</td>
		<td>
			A & (B | C) = A & B | A & C<br>
			A | (B & C) = (A | B) & (A | C)
		</td>
	</tr>
	<tr>
		<td>Законы<br>де Моргана:</td>
		<td>
			<span class="overlined">A | B</span> = <span class="overlined">A</span> & <span class="overlined">B</span><br>
			<span class="overlined">A & B</span> = <span class="overlined">A</span> | <span class="overlined">B</span><br>
		</td>
	</tr>
	<tr>
		<td>Законы<br>поглощения:</td>
		<td>
			A | A & B = A<br>
			A & (A | B) = A
		</td>
	</tr>
</table>
    </div>
  </ion-content>
</ion-view>
