<ion-view view-title="Системы счистления">
  <ion-content>
  		<div style="margin:5px 20px 15px;">
			Тема &quot;Системы счисления&quot; имеет прямое отношение к математической теории чисел. Однако в школьном курсе математики она, как правило, не изучается. Необходимость изучения этой темы в курсе информатики связана с тем фактом, что числа в памяти компьютера представлены в двоичной системе счисления, а для внешнего представления содержимого памяти, адресов памяти используют шестнадцатеричную или восьмеричную систему. Это одна из традиционных тем, которая присутствует в любом варианте курса информатики или программирования. Являясь смежной с математикой, данная тема вносит вклад также и в фундаментальное математическое образование школьников.</P>
			<P>
			1.
			Ученики 8-го класса, безусловно, знакомы с записью чисел как римскими, так и арабскими цифрами. Они привыкли видеть римские цифры в обозначении глав в книге, в указании столетий
			(XX век) и в некоторых других нумерациях. Математические расчеты они всегда производили в арабской системе чисел. В данной теме учителю предстоит раскрыть перед учениками эти, казалось бы, знакомые вещи с новой стороны. С методической точки зрения эффективным является прием, когда учитель подводит учеников к самостоятельному, пусть маленькому, открытию. В данном случае желательно, чтобы ученики сами подошли к формулировке различия между позиционным и непозиционным принципом записи чисел. Сделать это можно, отталкиваясь от конкретного примера. Напишите на доске два числа:</P>
			<P LANG="en-US" ALIGN=CENTER STYLE="margin-left: 0.06in; margin-top: 0.11in; margin-bottom: 0in; font-weight: normal; widows: 0; orphans: 0">
			<FONT FACE="Arial, sans-serif"><FONT STYLE="">XXX
			      333</P>
			<P>
			Первое —
			римское тридцать, второе —
			арабское триста тридцать три. И задайте вопрос: &quot;Чем отличается принцип записи многозначных чисел римскими и арабскими цифрами?&quot; Скорее всего вы сразу не  услышите того ответа, который хотели бы получить. Тогда, указывая на отдельные цифры римского числа, спрашивайте: &quot;Что (какое количество) обозначает эта цифра?&quot; Получите ответ: &quot;Десять!&quot; — &quot;А эта цифра? — Десять! — А эта? — Десять . — Как получается значение данного трехзначного числа?&quot; — &quot;Десять прибавить десять, прибавить десять, получается тридцать!&quot; А теперь переходим к числу 333. Снова задаем вопросы: &quot;Какое количество в записи числа обозначает первая цифра справа?&quot; — &quot;Три единицы!&quot; — &quot;А вторая цифра?&quot; — &quot;Три десятка!&quot; — &quot;А третья цифра?&quot; — &quot;Три сотни!&quot; — &quot;А как получается общее значение числа?&quot; — &quot;К трем единицам прибавить три десятка и прибавить три сотни, получится триста тридцать три!&quot;</P>
			<P>
			Из этого диалога следуют все правила, которые учитель должен сообщить детям. В римском способе записи чисел значение, которое несет каждая цифра в числе, не зависит <I>от позиции</I> этой цифры. В арабском же способе значение, которое несет каждая цифра в записи числа, зависит не только от того, какая это цифра, но и <I>от позиции,</I> которую она занимает в числе. Сделав ударение на слове &quot;позиция&quot;, учитель сообщает, что римский способ записи чисел называется непозиционным, а арабский — позиционным.</P>
			<P>
			После этого можно ввести термин &quot;система счисления&quot;. <I>Система счисления</I><I> —</I><I> это определенный способ представления чисел и соответствующие ему правила действия над числами.</I> Римский способ записи чисел является примером <I>непоэиционной системы счисления, </I>а арабский — это <I>позиционная система счисления.</I></P>
			<P>
			Следует подчеркнуть
			связь между способом записи чисел и
			приемами арифметических вычислений в
			соответствующей системе счисления.
			Предложите ученикам выполнить умножение,
			например, числа сто тридцать четыре на
			семьдесят шесть, используя римскую и
			араб скую системы счислений! С арабскими
			числами они легко справятся, а также
			смогут убедиться, что римские цифры
			— не помощники в вычислениях. В
			римской системе нет простых и понятных
			правил выполнения вычислений с
			многозначными числами. Для арабской
			системы такие правила известны еще с
			IX века. В рамках этой темы полезно
			рассказать ученикам, что правила
			выполнения вычислений с многозначными
			числами были разработаны выдающимся
			математиком средневекового Востока
			Мухаммедом аль-Хорезми и в Европе были
			названы алгоритмами (от латинского
			написания имени аль-Хорезми
			— <I>Algorithmi</I><I>).</I> Этот
			факт следует напомнить позже, при
			изучении алгоритмизации. Итак, именно
			позиционные системы счисления стали
			основой современной математики.
			Далее, как и в математике, в информатике
			мы будем иметь дело только с числами в
			позиционных системах счисления.</P>
			<P>
			2.
			Теперь нужно дать понять ученикам, что
			позиционных систем счисления
			существует множество, и отличаются
			они друг от друга <I>алфавитом</I><I>
			—</I> множеством используемых
			цифр. Размер алфавита (число цифр)
			называется <I>основанием системы
			счисления. </I>Задайте вопрос: &quot;Почему
			арабская система называется <I>десятичной
			системой счисления?&quot;</I> Наверняка
			услышите в ответ про десять цифр в
			алфавите. Делаем вывод: <I>основание
			арабской системы счисления равно
			десяти, поэтому она называется
			десятичной.</I></P>
			<P>
			Следует выписать
			алфавиты различных позиционных
			систем счисления. Системы с основанием
			не больше 10 используют
			только арабские цифры. Если же основание
			больше 10, то в роли цифр
			выступают латинские буквы в алфавитном
			порядке. Из таких систем в дальнейшем
			будет рассматриваться лишь шестнадцатеричная
			система.</P>
			<P>
			Далее нужно научить
			учеников записывать натуральный ряд
			чисел в различных позиционных системах.
			Объяснение следует проводить на примере
			десятичной системы, для которой вид
			натурального ряда чисел им хорошо
			известен:</P>
			<P LANG="en-US" ALIGN=CENTER STYLE="margin-top: 0.08in; margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
			1 2 3 4 5 6 7 8 9 10 11 ... 19 20
			... 99 100 101 ...</P>
			<P>
			Принцип построения
			ряда такой: сначала в порядке возрастания
			значений записываются все однозначные
			числа; первое двузначное число
			— всегда 10 (у многозначных
			целых чисел 0 впереди не
			является значащей цифрой и обычно не
			пишется). Далее следуют все двузначные
			сочетания единицы с другими цифрами,
			затем — двузначные числа,
			начинающиеся с 2, затем
			— с 3 и т.д. Самое
			большое двузначное число
			— 99. Затем идут трехзначные числа,
			начиная от 100 до
			999 и т.д.</P>
			<P>
			По такому же принципу
			строится натуральный ряд и в других
			системах счисления. Например, в
			четверичной системе (с основанием
			4):</P>
			<P LANG="en-US" ALIGN=LEFT STYLE="margin-left: 0.36in; margin-top: 0.04in; margin-bottom: 0in; line-height: 116%; widows: 0; orphans: 0; text-align:center;">
			1 2 3 10 11 12 13 20 21 22 23 30
			31 32 33 100 101 102 103 110 111 ... 333 1000 ...</P>
			<P>
			Аналогично и для
			других систем. Наибольший интерес
			представляет натуральный ряд двоичных
			чисел. Вот как он выглядит:</P>
			<P LANG="ru-RU" ALIGN=LEFT STYLE="margin-left: 0.36in; margin-top: 0.04in; margin-bottom: 0in; line-height: 116%; widows: 0; orphans: 0; text-align:center;">
			1 10 11 100
			101 110 111 1000 1001 1010 1011 1100 1101 1110 1111 10000 и
			т.д.</P>
			<P>Следует обратить
			внимание учеников на быстрый рост числа
			цифр при использовании двоичной системы.</P>
			<P>Для указания на
			основание системы, к которой относится
			число, вводим индексное обозначение.
			Например, 36g указывает
			на то, что это число записано в восьмеричной
			системе счисления, 1А6<SUB>16</SUB>
			— шестнадцатеричное число,
			1011<SUB><SG="en-US">2</SUB>
			— число в двоичной системе. Индекс
			всегда записывается десятичным числом.
			Следует подчеркнуть, что в любой
			системе счисления ее основание
			записывается как 10.</P>
			<P>
			Еще одно важное
			замечание: ни в коем случае нельзя
			называть недесятичные числа так же, как
			десятичные. Например, нельзя называть
			восьмеричное число 36<SUB>8</SUB>
			как тридцать шесть'. Надо говорить:
			&quot;Три-шесть&quot;. Или нельзя читать
			101<SUB><SG="en-US">2</SUB>
			как &quot;сто один&quot;. Надо говорить:
			&quot;Один-ноль-один&quot;. Следует также
			понимать, что, например,
			0,1<SUB><SG="en-US">2</SUB>
			— это не одна десятая, а одна вторая,
			или 0,l<SUB>8</SUB>
			— это одна восьмая и т.п.</P>
			<P>3.
			Сущность позиционного представления
			чисел отражается в <I>развернутой
			форме записи чисел.</I> Снова для объяснения
			привлекаем десятичную систему. Например:</P>
			<P LANG="ru-RU" STYLE="margin-left: 0.11in; margin-top: 0.04in; margin-bottom: 0in; line-height: 116%; widows: 0; orphans: 0; text-align:center;">
			5319,12 = 5000
			+ 300 + 10 + 9 + 0.1 + 0,02 = 5 • 10<SUP>5</SUP>
			+ 3 • 10<SUP><I>2</I></SUP>
			+ 1 • 10' + 9 + + 1- 10-' + 2- 10-<SUP>2</SUP>.</P>
			<P>
			Последнее выражение
			и называется развернутой формой записи
			числа. Слагаемые в этом выражении
			являются произведениями значащих цифр
			числа на степени десятки (основания
			системы счисления), зависящие от
			позиции цифры в числе —
			разряда. Цифры в целой части умножаются
			на положительные степени
			10, а цифры в дробной части
			— на отрицательные степени.
			Показатель степени является номером
			соответствующего разряда. Аналогично
			можно получить развернутую форму
			чисел в других системах счисления.
			Например, для восьмеричного числа:</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="margin-top: 0.08in; margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
			1753<SUB>8</SUB>=
			1 • 10<SUP><I>3</I></SUP>
			+ 7 • 10<SUP>2</SUP>
			+ 5 • 10' + 3.</P>
			<P>
			Здесь 10<SUB>8</SUB>
			= 8<SUB>10</SUB>,.</P>
			<P>
			Целесообразно
			привести развернутую форму записи
			в виде 1753, = 1 • 8»
			+ 7 • 8<SUP>2</SUP> + 5 • 8' + 3.</P>
			<P>
			4.
			Следующий вопрос, изучаемый в этом
			разделе, — способы перевода
			чисел из одной системы в другую. Основная
			идея заключается в следующем: перевод
			чисел неизбежно связан с выполнением
			вычислений. <I>Поскольку нам хорошо
			знакома лишь десятичная арифметика, то
			любой перевод следует свести к выполнению
			вычислений над десятичными числами.</I></P>
			<P>
			Объяснение способов
			перевода следует начать с перевода
			десятичных чисел в другие системы
			счисления. Делается это просто: нужно
			перейти к записи развернутой формы
			числа в десятичной системе. Вот пример
			такого перехода для приведенного выше
			восьмеричного числа:</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="margin-left: 0.11in; margin-right: 0.28in; margin-top: 0.04in; margin-bottom: 0in; line-height: 116%; widows: 0; orphans: 0">
			1753<SUB><SG="en-US">8</SUB>=
			(1 • 10<SUP>3</SUP> + 7 • 10<SUP>2</SUP>
			+ 5 • 10' + 3)<SUB>8</SUB>
			= = (l•8<SUP>5</SUP>+
			7•8<SUP>2</SUP>+5•
			8' + 3)<SUB>10</SUB></P>
			<P>
			Теперь нужно вычислить
			полученное выражение по правилам
			десятичной арифметики и получить
			окончательный результат:</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
			1753<SUB>8</SUB>
			= (192 + 448 + 40 + 3)<SUB>10</SUB>
			= 683<SUB>10</SUB>.</P>
			<P>
			Чаще всего развернутую
			форму числа сразу записывают в
			десятичной системе. Вот еще пример с
			двоичным числом:</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="margin-left: 0.75in; text-indent: -0.61in; margin-top: 0.03in; margin-bottom: 0in; line-height: 116%; widows: 0; orphans: 0">
			101101,1<SUB><SG="en-US">2</SUB>
			<I>=</I> (1 •
			2<SUP>5</SUP> + 0<SUP>.</SUP>
			2<SUP>4</SUP>
			+ 1 • 2<SUP>3</SUP>
			+ 1 • 2<SUP>2</SUP>
			+ 0<SUP>.</SUP>
			2<SUP>1</SUP>+
			1 + 1<SUP>.</SUP><SUB>.</SUB>
			2<SUP>-1</SUP><I>=</I>
			32 + 8 + 4 + 1 + 1/2 = 45.5<SUB>10</SUB>.</P>
			<P>
			Для вычисления
			значения числа по его развернутой форме
			записи существует удобный прием, который
			называется <I>вычислительной схемой
			Горнера.</I> Суть его состоит в том, что
			<I>развернутая запись числа преобразуется
			в эквивалентную форму с вложенными
			скобками.</I> Например, для рассмотренного
			выше восьмеричного числа это выглядит
			так:</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="margin-left: 0.11in; margin-right: 0.56in; margin-top: 0.04in; margin-bottom: 0in; line-height: 91%; widows: 0; orphans: 0">
			1753<SUB>8</SUB>=
			(1 • 8<SUP>3</SUP>
			+ 7 • 8<SUP>2</SUP>
			+ 5 • 8<SUP>1</SUP>
			+ 3)<SUB>10</SUB> =
			((1<SUP>.</SUP>
			8 + 7)<SUP>.</SUP>8
			+ 5)<SUP>.</SUP>8
			+ 3.</P>
			<P>
			Нетрудно понять,
			что если раскрыть скобки, то получится
			то же самое выражение. В чем же удобство
			скобочной структуры? А в том, что ее
			вычисление производится путем
			выполнения последовательной цепочки
			операций умножения и сложения в порядке
			их записи слева направо. Для этого
			можно использовать самый простой
			калькулятор (без памяти), поскольку не
			требуется сохранять промежуточные
			результаты. <I>Схема Горнера сводит
			вычисление таких выражений к минимальному
			числу операций.</I></P>
			<P>
			Перевод десятичных
			чисел в другие системы счисления
			— задача более сложная. В принципе
			все происходит через ту же самую
			развернутую форму записи числа.
			Только теперь нужно суметь десятичное
			число разложить в сумму по степеням
			нового основания <I>п=</I> 10.
			Например, число 85<SUB>10</SUB> по
			степеням двойки раскладывается так:</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="margin-left: 0.11in; margin-top: 0.06in; margin-bottom: 0in; line-height: 91%; widows: 0; orphans: 0">
			85<SUB>10</SUB>
			= 1 • 2<SUP>6</SUP>
			+ 0 • 2<SUP>5</SUP>
			+ 1 • 2<SUP>4</SUP>
			+ 0 • 2<SUP>3</SUP>
			+ 1 • 2<SUP>2</SUP>
			+  0<SUP>.</SUP>
			2+1 = 1010101<SUB><SG="en-US">2</SUB>.</P>
			<P>
			Однако проделать
			это в уме довольно сложно. В
			§ 6 описывается формальная процедура
			такого перевода, а в разделе
			1.4 второй части учебника дается
			математическое обоснование этой
			процедуре. Разбор этого обоснования
			требует от учеников определенного
			уровня математической грамотности и
			возможен в варианте углубленного
			изучения базового курса. Приемы перевода
			дробных десятичных чисел в другие
			системы счисления изложены в разделе
			1.4. В рамках минимального объема
			базового курса этот вопрос изучать не
			обязательно. Здесь нужно обратить
			внимание на следующее обстоятельство:
			десятичные дроби с конечным числом цифр
			при переводе в другие системы могут
			превратиться в бесконечные (периодические)
			дроби. Если удается найти период, тогда
			его следует выделить. Если для школьников
			выделять период трудно, то нужно
			договориться о точности (т.е. о количестве
			цифр), с которой производится перевод.</P>
			<P>
			Если ставится цель
			получения при переводе дробного
			числа наиболее близкого значения, то,
			ограничивая число знаков, нужно
			производить округления. Для этого в
			процессе перевода следует вычислять
			на одну цифру больше, а затем, применяя
			правила округления, сокращать эту
			цифру. Выполняя округление, нужно
			соблюдать следующее правило: если
			первая отбрасываемая цифра больше или
			равна <I>п/2</I> (n — основание
			системы), то к сохраняемому младшему
			разряду числа прибавляется единица.
			Например, округление восьмеричного
			числа 32,32471<SUB>8</SUB> до одного
			знака после запятой даст в результате
			32,3, а округление до двух знаков после
			запятой — 32,33.</P>
			<P>
			5.
			Применение двоичной системы счисления
			в ЭВМ может рассматриваться в двух
			аспектах:</P>
			<P LANG="ru-RU" ALIGN=JUSTIFY STYLE="text-indent: 0.15in;">
			1)
			двоичная нумерация,</P>
			<P LANG="ru-RU" ALIGN=JUSTIFY STYLE="text-indent: 0.15in;">
			2)
			двоичная арифметика, —
			т.е. выполнение арифметических вычислений
			над двоичными числами. С двоичной
			нумерацией ученики встретятся в
			§ 13 &quot;Тексты в компьютерной памяти&quot;.
			Рассказывая о таблице кодировки ASCII,
			учитель должен сообщить ученикам,
			что внутренний двоичный код символа
			— это его порядковый номер в двоичной
			системе счисления. О двоичной нумерации
			можно говорить и при изучении
			§ 18 &quot;Как кодируется изображение&quot;.
			Коды цветов восьмицветной палитры
			(табл. 4.1') и шестнадцатицветной
			палитры (табл. 4.2) можно
			перевести в их десятичные номера. Такая
			система нумерации цветов используется
			в компьютерной графике. Например,
			красный цвет имеет номер 4
			(двоичный код 100);
			коричневый — номер
			6 (код 110); 
			ярко-розовый
			— номер 13 (код
			1101).</P>
			<P>
			Практическая
			потребность знакомства с двоичной
			арифметикой возникает при изучении
			главы 11 &quot;Как работает
			компьютер&quot;. В этом разделе рассказывается,
			как процессор ЭВМ выполняет арифметические
			вычисления. В современных компьютерах
			процессор производит вычисления в
			двоичной системе счисления. В рамках
			базового курса достаточно ограничиться
			рассмотрением вычислений с целыми
			двоичными числами.</P>
			<P>
			Для выполнения
			вычислений с многозначными числами
			необходимо знать правила сложения и
			умножения однозначных чисел.</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="text-indent: 0.15in; margin-bottom: 0in; line-height: 91%; widows: 0; orphans: 0">
			0  +  0  =  0        0<SUP>
			.  </SUP><FONT STYLE="font-size: 11pt">0 = 0</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="text-indent: 0.15in; margin-bottom: 0in; line-height: 91%; widows: 0; orphans: 0">
			<FONT STYLE="font-size: 11pt">1
			+ 0 = 1       1<SUP> . </SUP><FONT STYLE="font-size: 11pt">
			0 = 0</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="text-indent: 0.15in; margin-bottom: 0in; line-height: 91%; widows: 0; orphans: 0">
			<FONT STYLE="font-size: 11pt">1
			+ 1 = 1        1 <SUP>. </SUP><FONT STYLE="font-size: 11pt">
			1 = 1</P>
			<BR>
			<P>
			Принцип перестановочности
			сложения и умножения работает во
			всех системах счисления. Далее следует
			сообщить, что приемы выполнения вычислений
			с многозначными числами в двоичной
			системе аналогичны десятичной. Иначе
			говоря, процедуры сложения,,
			вычитания и умножения &quot;столбиком&quot;
			и деления &quot;уголком&quot; в двоичной
			системе производятся так же, как и в
			десятичной. В § 43 приведены
			примеры сложения и умножения многозначных
			двоичных чисел. Рассмотрим правила
			вычитания и деления двоичных чисел.</P>
			<P>
			Операция вычитания
			является обратной по отношению к
			сложению. Из приведенной выше таблицы
			сложения следуют правила вычитания:</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="margin-left: 0.11in; margin-right: 0.14in; margin-bottom: 0in; line-height: 150%; widows: 0; orphans: 0">
			0-0=0;    1 -
			0= 1; 10 — I <I>=</I>
			1. А вот пример вычитания многозначных
			чисел:</P>
			<P LANG="en-US" ALIGN=CENTER STYLE="margin-left: 0.94in; margin-right: 1.11in; margin-top: 0.04in; margin-bottom: 0in; font-weight: normal; line-height: 108%; widows: 0; orphans: 0">
			<FONT FACE="Arial, sans-serif">1001101101</FONT></P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="margin-left: 0.94in; margin-right: 1.11in; margin-top: 0.04in; margin-bottom: 0in; line-height: 108%; widows: 0; orphans: 0">
			 <FONT FACE="Arial, sans-serif"><FONT STYLE="font-size: 11pt"><FONT STYLE=""><U><SPAN STYLE="font-weight: normal">-
			100110111</U></P>
			<P LANG="en-US" ALIGN=CENTER STYLE="margin-left: 1.03in; margin-right: 1.11in; margin-top: 0.04in; margin-bottom: 0in; font-weight: normal; line-height: 108%; widows: 0; orphans: 0">                                                     
			<FONT FACE="Arial, sans-serif">100110110</FONT></P>

			<P>
			Полученный результат<B>
			можно</B> проверить сложением разности
			с вычитаемым.</P>
			<P>
			Деление
			— операция,<B> обратная умножению.</B>
			В любой системе счисления делить на
			0 нельзя. Результат деления на
			1 равен делимому. Деление двоичного
			числа на 10^ ведет к
			перемещению запятой на один разряд
			влево, подобно десятичному делению на
			десять. Например:</P>
			<P LANG="en-US" ALIGN=CENTER STYLE="margin-left: 0.78in; margin-top: 0.07in; margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
			10010: 10= 1001;</P>
			<P LANG="en-US" ALIGN=CENTER STYLE="margin-left: 0.78in; margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
			1011 : 10= 101,1;</P>
			<P LANG="en-US" ALIGN=CENTER STYLE="margin-left: 0.78in; margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
			101100: 10= 10110.</P>
			<P>
			Деление на
			100 смещает запятую на 2
			разряда<B> влево</B> и т.д.<B> В базовом</B>
			курсе можно не рассматривать <B>сложные</B>
			примеры деления многозначных двоичных
			чисел. Хотя способные ученики могут
			справиться и с ними, поняв общие принципы.
			В 4-м практическом задании к
			§ 43 (варианты 7 и
			8) результаты деления будут следующие:</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="margin-left: 0.19in; margin-top: 0.07in; margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
			1010 : 101 =
			10;       1110 : 100 <I>=</I>
			11,1.</P>
			<P>
			6.
			Представление информации, хранящейся
			в компьютерной памяти, в ее истинном
			двоичном виде весьма громоздко из-за
			большого количества цифр (имеется в
			виду запись такой информации на бумаге
			или вывод<B> ее </B>на экран). Для уменьшения
			количества цифр принято использовать
			восьмеричную или шестнадцатеричную
			систему счисления. В § 43
			рассматривается только шестнадцатеричная
			система. В современных программных
			средствах чаще всего используется
			именно эта система.</P>
			<P>
			Существует простая
			связь<B> между</B> двоичным и шестнадцатеричным
			представлением числа: одной шестнадцатеричной
			цифре соответствует четырехразрядный
			двоичный код. Это соответствие<B>
			отражено в</B> двоично-шестнадцатеричной
			таблице (табл. 11.3),
			приведенной в учебнике. Такая связь
			основана на том, что 16 =
			2<SUP>4</SUP> и число различных 4-разрядных
			комбинаций из цифр 0 и
			1 равно 16: от
			0000 до 1111. Поэтому
			<I>перевод чисел из</I><I> &quot;16&quot;
			</I><I>в</I> &quot;2&quot; <I>и
			обратно производится путем формальной
			перекодировки.</I> Принято считать,
			что если дано шестнадцатеричное
			представление внутренней информации,
			то<B> это </B>равносильно наличию двоичного
			представления. <I>Преимущество
			шестнадцатеричного представления
			состоит</I><I> 6 </I><I>том, что
			оно в</I><I> 4</I><I> раза короче
			двоичного.</I> Желательно, чтобы ученики
			запомнили двоично-шестнадцатеричную
			таблицу. Тогда действительно для них
			шестнадцатеричное представление станет
			эквивалентным двоичному.</P>
			<P>
			В шестнадцатеричном
			виде записываются адреса оперативной
			памяти компьютера. Например, для учебного
			компьютера &quot;Нейман&quot;, который
			описывается в главе 11, диапазон
			адресации байтов памяти от
			00 до FF, в десятичной<B>
			системе</B> — от
			0 до 255. Рассматривая
			структуру памяти компьютера, принципы
			адресации байтов памяти, <B>можно</B>
			обсудить с учениками следующий вопрос:
			как связан диапазон адресов с
			разрядностью адреса. В учебном компьютере
			&quot;Нейман&quot; адреса памяти представляются
			8-разрядными двоичными числами
			(2-разрядными шестнадцатеричными).
			Поэтому число различных адресов равно
			2<SUP>8</SUP>, а
			диапазон значений — от
			0 до 2<SUP>8</SUP>
			— 1 <I>=</I>
			255 (FF<SUB>16</SUB>).Если
			адрес 16-разрядный, что часто имеет<B>
			место</B> для реальных ЭВМ, то размер
			адресуемой памяти равен 2<SUP>16</SUP>
			байтам <I>=</I>
			2<SUP>6</SUP> Кбайтам
			= 64 Кбайтам. Диапазон шестнадцатеричных
			адресов в таком случае: от
			0000 до FFPF.</P>
			<P>
			В современных
			компьютерах существуют приемы, позволяющие
			адресовать гораздо большие размеры
			памяти без увеличения разрядности
			адреса. Для этого используется
			многоуровневая структура организации
			памяти. Данный вопрос выходит за рамки
			содержания базового курса. Однако
			тема &quot;Адресация памяти в современных
			ЭВМ&quot; может быть предметом реферативной
			работы учащихся. Материал можно найти
			в специальной литературе, посвященной
			архитектуре современных ЭВМ.</P>
			<P>
			<B>Методические
			рекомендации к решению задач</B></P>
			<P>
			Задачи на системы
			счисления содержатся в разделе
			1.5 задачника-практикума
			[2]. Первые 7 задач
			относятся к непозиционным системам
			счисления. Во всех случаях предполагается
			справедливость принципа, используемого
			в римской системе записи чисел: если
			меньшая цифра записана после большей
			по величине цифры, то ее значение
			прибавляется к общему значению числа,
			если меньшая цифра предшествует большей,
			то ее значение вычитается. Например:</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="margin-right: 0.14in; margin-top: 0.08in; margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
			XVI =
			10.+ 5 + 1 = 16;</P>
			<P LANG="en-US" ALIGN=CENTER STYLE="margin-right: 0.14in; margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
			XIV = 10 + 5 — 1 = 14.</P>
			<P>
			<B>Пример</B><B>
			1.</B> [2], раздел
			1.5, задача № 6. В
			некоторой непозиционной системе
			счисления цифры обозначаются
			геометрическими фигурами. На основании
			данных примеров требуется определить,
			какую цифру обозначает каждая фигура,
			и расшифровать<B> данное</B> многозначное
			число.</P>
			<P>
			Учитывая сделанное
			выше замечание, легко понять, что круг
			обозначает 1, треугольник
			углом вверх — 5, квадрат
			— 10, прямоугольник — 100,
			треугольник углом вниз —
			1000. Тогда значение записанного
			многозначного числа определится<B>
			так:</B></P>
			<P LANG="en-US" ALIGN=CENTER STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
			1000 — 100 + 1000 — 10 + 100
			+ 5 + 1 + 1 = 1997.</P>
			<P>
			Задачи №
			8—22 требуют от учеников знаний
			алфавитов позиционных систем, умения
			представлять числа в развернутой форме,
			переводить недесятичные числа в
			десятичную систему счисления. При
			переводе рекомендуется использовать
			вычислительную схему Горнера.</P>
			<P>
			<B>Пример</B><B>
			2.</B> [2], раздел
			1.5, задача № 16. Записать
			в десятичной системе данные недесятичные
			числа.</P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="margin-left: 0.11in; margin-top: 0.08in; margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
			221<SUB>3</SUB>=
			(2 <SUP>.</SUP>
			3+ 2)<SUP>
			.</SUP> 3+ 1 = 25<SUB>10</SUB></P>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="text-indent: 0.15in; margin-top: 0.01in; margin-bottom: 0in; line-height: 91%; widows: 0; orphans: 0">
			E41A,12<SUB>16</SUB>=
			((14 <SUP>.</SUP>
			16 + 4) <SUP>.</SUP>
			16 + 1) <SUP>.</SUP>
			16 + 10  + (2/16 + 1)/16 = 58394 +
			0,0703125 = = 58394,0703125<SUB>10</SUB></P>
			<P>
			Обратите внимание
			на то, что дробная часть числа переводится
			отдельно, и на то, как применение схемы
			Горнера модифицируется для дробной
			части: умножение заменяется на
			деление, а значащие цифры подставляются
			в обратном порядке —
			справа налево.</P>
			<P>
			Задачи №
			23— 32 на перевод десятичных чисел в
			другие системы счисления не должны
			вызвать принципиальных затруднений.
			Однако практика работы в школе показывает,
			что нередко возникает парадоксальная
			проблема: многие ученики не умеют
			выполнять деление многозначных чисел
			без калькулятора. В этих же заданиях
			делить приходится вручную, поскольку
			нужно выделять остатки, чего обычно не
			делают калькуляторы. Иногда затруднения
			вызывает и перемножение многозначных
			чисел при переводе дробей, особенно в
			шестнадцатеричную систему. В таком
			случае невредно восстановить навыки
			ручных вычислений, напрочь забытые
			многими учениками со времен младшей
			школы. Задайте детям вопрос: &quot;Кто
			умнее — человек или
			калькулятор?&quot; Пусть это стимулирует
			их поднять свой интеллект выше уровня
			пластмассовой коробочки.</P>
			<P>
			В задачах
			№ 33—45 используется связь между
			системами с основанием 2&quot;. Требуется
			умение производить переводы между
			числами в системах с основанием
			2, 8, 16. Как отмечалось выше, такой
			перевод происходит путем формального
			перекодирования с помощью
			двоично-шестнадцатеричного или
			двоично-восьмеричного кода. Таблицы
			такой перекодировки приведены в
			задачнике.</P>
			<P>
			<B>Пример</B><B>
			3.</B> [2], раздел
			1.5, № 38. Перевести шестнадцатеричные
			числа в восьмеричную систему.</P>
			<P>
			<B>Конечно,</B> такой
			перевод можно производить и через
			десятичную систему по схеме
			16 =&gt; 10 ==&gt; 8. Но это долго и неудобно.
			Лучше выполнять такой перевод по схеме
			16 =&gt; 2 =» 8. В этом случае ничего не
			требуется вычислять, все сводится к
			формальной перекодировке. На втором
			шаге следует сгруппировать двоичные
			цифры тройками.</P>
			<P LANG="ru-RU" ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
			<SPAN ID="Frame1" DIR="LTR" STYLE="float: left; width: 1.58in; height: 0.13in; border: none; padding: 0in; background: #ffffff">
				<P LANG="ru-RU" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
				<FONT>774<SUB>16</SUB><FONT>=<FONT>
				0111 0111 0100<SUB><SG="en-US">2</SUB></P>
			<FONT>011 101 110100= 3564<SUB><SG="en-US">8</SUB>
			</P>
			<P LANG="ru-RU" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 91%; widows: 0; orphans: 0">
			F12,0457=<SUB>16</SUB>
			111100010010,0000010001010111<SUB><SG="en-US">2</SUB>
			=&gt; 111 100 010 010, 000 001 000 101 011 100 <I>=
			</I>= 7422,010534<SUB>8</SUB>.</P>
			<P>
			В задачах
			№ 46—62 от учеников требуется умение
			выполнять арифметические вычисления
			в различных позиционных системах
			счисления. Следует обратить внимание
			учеников на то, что в основе таких
			вычислений лежат правила сложения
			и умножения однозначных чисел, а
			вычислительные алгоритмы везде
			одинаковы. Наибольшую сложность
			могут представить задачи с определением
			неизвестных цифр.</P>
		</div>
	</ion-content>
</ion-view>
