<ion-view view-title="Статистика">
  <ion-content>
  	<div id="content">
	    <h3>Прогресс:</h3>
	    	<h4 class="statsTitle">Алгебра логики</h4>
	    		<p>Количество попыток: {{ Test1AppemptsCount }}</p>
	    		<p>Лучший результат: {{ Test1Right }}/8</p>
	    		<p>Лучшая оценка: {{ Test1Mark }}</p>
	    	<h4 class="statsTitle">Системы счистления</h4>
	    		<p>Количество попыток: {{ Test2AppemptsCount }}</p>
	    		<p>Лучший результат: {{ Test2Right }}/10</p>
	    		<p>Лучшая оценка: {{ Test2Mark }}</p>
    </div>
  </ion-content>
</ion-view>
